pyzmq
sympy
theano
requests
beautifulsoup4
pip
pandas
numpy
scipy
matplotlib
jupyter
scikit-learn
pymongo
jupyter
nltk
gensim
spacy
statsmodels
networkx
bokeh
mpld3
seaborn
plotly
feather
xgboost
spark
paste
fuzzywuzzy
python-Levenshtein
simple-salesforce
regex
textblob
validate_email
phonenumbers
zipcode
usaddress
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.11.0-cp27-none-linux_x86_64.whl