pyzmq
sympy
theano
requests
beautifulsoup4
pip
pandas
numpy
scipy
matplotlib
jupyter
scikit-learn
pymongo
jupyter
nltk
gensim
tensorflow
spacy
statsmodels
networkx
bokeh
mpld3
seaborn
plotly
feather
xgboost
spark
paste
fuzzywuzzy
python-Levenshtein
simple-salesforce
regex
textblob
validate_email
phonenumbers
zipcode
usaddress
